@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  color: white;
}

p {
  text-transform: uppercase;

}
a {
  color: white;
  border-bottom: 0px;
  font: inherit
}


 .menu {
  position: absolute;
  right: 15px;
  top: 15px;
  font: sans-serif;
  border-bottom: 0px;
  letter-spacing: 0.5px;
}
.menu a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
.menu:hover a {
  color: aquamarine;
  transition: all 1s ease 0s;
}
header {
	position: absolute;
	padding: 15px 10px;
	top: 0;
	left: 0;
	right: 0;

}

.cellar {
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 20px;
    border-top: 2px solid rgb(42,47,74);
    background-color: rgb(36,41,67);
}

.cellar>span {
    margin: 0 10px;

}

.cellar p {
    font-size: 12px;
    margin: 10px 10px;
    color: white;
}
.logo {
  font: inherit;
}
.logo a {
	text-transform: uppercase;
	text-decoration: none;
	color: white;
}

.logo span {
	padding: 5px;
	background: white;
	color: black;
}

.logo:hover a {
  color: aquamarine;
  transition: all 1s ease 0s;
}
.logo:hover span {
  background: aquamarine;
  transition: all 1s ease 0s;
}

.email,
.phone,
.address {
  padding: 20px 20px;
}

.intro {

	background: black;
	color: white;
	background-image: url("/images/banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.intro .intro-block {
width: 1000 px;
	margin: auto;
	padding: 100px 0;
  padding-left: 100px;
  background-color: #32355dd4;
}

/* .intro-block div {
  width: 1000 px;
  margin: auto;
  padding: 100px 0;
  padding-left: 100px;
  background: red;
} */

.fade {
	background-color: rgb(0, 0, 0, 0.4);
}


h2 {
    border-bottom: 1px solid white;
    width: 200px;
    max-width:80%;
    overflow:hidden;
    padding-bottom: 2px;
}



.photo-text-1{
	background-image: url(/images/pic01.jpg);
  background-repeat: no-repeat;
	background-size: cover;
 /* height:auto;
	margin:0;
	padding: 150px 0px 150px 50px; */
}
.photo-text-1 div {
    background: rgba(65, 158, 187, 0.77);
    margin: 0;
    padding: 150px 0px 150px 50px;
    transition: all 1s ease 0s;
}

.photo-text-1:hover div {
    background: rgba(0, 0, 0, 0);
}

.photo-text-2 {
	background-image: url(/images/pic02.jpg);
  background-repeat: no-repeat;
	background-size: cover;
}

.photo-text-2 div {
  background: rgba(153, 92, 177, 0.77);
  margin: 0;
  padding: 150px 0px 150px 50px;
  transition: all 1s ease 0s;
}

.photo-text-2:hover div {
    background: rgba(0, 0, 0, 0);
}


.photo-text-3{
	background-image: url(/images/pic03.jpg);
  background-repeat: no-repeat;
	background-size: cover;
}

.photo-text-3 div {
  background: rgba(177, 79, 56, 0.77);
  margin: 0;
  padding: 150px 0px 150px 50px;
  transition: all 1s ease 0s;
}
.photo-text-3:hover div {
    background: rgba(0, 0, 0, 0);
}

.photo-text-4{
	background-image: url(/images/pic04.jpg);
  background-repeat: no-repeat;
	background-size: cover;
}
.photo-text-4 div {
  background: rgba(214, 168, 62, 0.77);
  margin: 0;
  padding: 150px 0px 150px 50px;
  transition: all 1s ease 0s;
}
.photo-text-4:hover div {
    background: rgba(0, 0, 0, 0);
}

.photo-text-5 {
	background-image: url(/images/pic05.jpg);
  background-repeat: no-repeat;
	background-size: cover;
}
.photo-text-5 div {
  background: rgba(62, 120, 181, 0.77);
  margin: 0;
  padding: 150px 0px 150px 50px;
  transition: all 1s ease 0s;
}
.photo-text-5:hover div {
    background: rgba(0, 0, 0, 0);
}

.photo-text-6{
	background-image: url(/images/pic06.jpg);
  background-repeat: no-repeat;
	background-size: cover;
}

.photo-text-6 div {
  background: rgba(119, 175, 97, 0.77);
  margin: 0;
  padding: 150px 0px 150px 50px;
  transition: all 1s ease 0s;
}
.photo-text-6:hover div {
    background: rgba(0, 0, 0, 0);
}

.photo-text-7{
	background-color: rgb(42,47,74);
  background-repeat: no-repeat;
	background-size: cover;
  height:auto;
  margin:0;
	padding: 50px 0px 50px 50px;
}

footer
{
  color: white;
  background-color: rgb(36,41,67);
  padding: 0.3em 0 0.3px 1.1em;
  width:100 vw;

}


/*
.input-name,
.input-email {
  background-color: rgb(30,40,63);
  height: 2.75em;
  border: none;

}
*/
.input-message input,
.input-email input {
  background: rgb(42,47,74);
  border: 0px;
  height: 40px;
  width: 77%;
}
.input-message textarea {
    height:10em;
    min-width:87%;
    width:21em;
    border:none;
	  background: rgb(42,47,74);
    font-size:12px;
    color:white;
    padding: 0.3em 0.5em;
}

.intro h1 {
	border-bottom: 2px solid white;
	padding-bottom: 20px;
}

.btn {
	color: white;
	border: 1px solid white;
	padding: 5px 15px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.btn:hover {
	color: aquamarine;
	border-color: aquamarine;
  transition: all 1s ease 0s;
}

button {
  border: 2px solid #fff;
  margin-top: 3em;
  background-color: transparent;
  color: #fff;
  font-size: 0.7em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 14em;
  height: 5em;
}

.submit {
  background: white;
  color: rgb(36,41,67);
}

.submit:hover {
  background: aquamarine;
  transition: all 1s ease 0s;
}
.clear:hover {
  border: 2px solid aquamarine;

}

@media (min-width: 320px) and (max-width: 900px) {
	.intro .intro-block {
	    width: 100%;

        padding-left: 15px;
    	padding-right: 15px;
	}
