@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  color: white;
}

p {
  text-transform: uppercase;

}

.menu {
  position: absolute;
  right: 10px;
  top: 15px;
}

header {
	position: absolute;
	padding: 15px 10px;
	top: 0;
	left: 0;
	right: 0;

}

.logo a {
	text-transform: uppercase;
	text-decoration: none;
	color: white;
}

.logo span {
	padding: 5px;
	background: white;
	color: black;
}

.intro {

	background: black;
	color: white;
	background-image: url("/images/banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.intro .intro-block {
	width: 1000 px;
	margin: auto;
	padding: 100px 0;
  padding-left: 100px;

}

.fade {
	background-color: rgb(0, 0, 0, 0.4);
}


h2 {
    border-bottom: 1px solid white;
    width: 200px;
    max-width:80%;
    overflow:hidden;
    padding-bottom: 2px;
}



.photo-text-1{
	background-image: url(/images/pic01.jpg);
  background-repeat: no-repeat;
	background-size: cover;
  height:auto;
	margin:0;
	padding: 150px 0px 150px 50px;

}

.photo-text-2{
	background-image: url(/images/pic02.jpg);
  background-repeat: no-repeat;
	background-size: cover;
  height:auto;
	margin:0;
	padding: 150px 0px 150px 50px;


}

.photo-text-3{
	background-image: url(/images/pic03.jpg);
  background-repeat: no-repeat;
	background-size: cover;
  height:auto;
	margin:0;
	padding: 150px 0px 150px 50px;

}

.photo-text-4{
	background-image: url(/images/pic04.jpg);
  background-repeat: no-repeat;
	background-size: cover;

  height:auto;
	margin:0;
	padding: 150px 0px 150px 50px;


}

.photo-text-5{
	background-image: url(/images/pic05.jpg);
  background-repeat: no-repeat;
	background-size: cover;
  height:auto;
	margin:0;
	padding: 150px 0px 150px 50px;



}

.photo-text-6{
	background-image: url(/images/pic06.jpg);
  background-repeat: no-repeat;
	background-size: cover;
  height:auto;
	margin:0;
	padding: 150px 0px 150px 50px;

}

.photo-text-7{
	background-color: rgb(42,47,74);
  background-repeat: no-repeat;
	background-size: cover;
  height:auto;
  margin:0;
	padding: 50px 0px 50px 50px;
}


footer
{
  color: white;
  background-color: rgb(36,41,67);
  padding: 0.3em 0 0.3px 1.1em;
  width:58.33 vw;
  float:left;
}


.input-name textarea,
.input-email textarea {
  background: rgb(30,40,63);
  height: 2.75em;
  border: none;

}
.input-message textarea {
    height:10em;
    min-width:87%;
    width:21em;
    border:none;
	  background: rgb(30,40,63);
    font-size:12px;
    color:white;
    padding: 0.3em 0.5em;
}

.intro h1 {
	border-bottom: 2px solid white;
	padding-bottom: 20px;
}

.btn {
	color: white;
	border: 1px solid white;
	padding: 5px 15px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.btn:hover {
	color: aquamarine;
	border-color: aquamarine;
}

@media (min-width: 320px) and (max-width: 900px) {
	.intro .intro-block {
	    width: 100%;
	    color: red;
        padding-left: 15px;
    	padding-right: 15px;
	}
