{
    color: aqua;
    background: purple;
}
.text-underline{
    text-decoration: underline;

}
.p123 {
    font-size: 40px;
    text-decoration: underline;
    font-family: "Open Sans";
    line-height: 1;
    color: rgb(244, 226, 66)
}
ul






















{
    background: url("../images/pic02.jpg")
    
}