@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

header {
    padding: 15px 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.menu {
    position: absolute;
    right: 10px;
    top: 15px;
}
.item {
    position: relative;
     
}
p {
    color: white;
}
h2 {
    color: white;
}

.logo a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.logo span {
    padding: 5px;
    background: #fff;
    color: #000;
}

.intro {
    background: #000;
    /*padding: 100px 0;*/
    color: #fff;
    background-image: url("../images/banner.jpg");
    background-size: cover;
}
.intro .intro-block {
	
    margin: auto;
    padding: 100px 0;
}
.fade {
    background-color: rgba(0, 0, 0, 0.4);
}
.photo-text {
    display: block;
    position: relative;
    top: 70px;
    right: -60px;
    width: 15vw;
	
}
.photo-line {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    height: 180vh;
}

.intro h1 {
	border-bottom: 2px solid #fff;
    padding-bottom: 20px;
}

.btn {
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;		
}
.item a {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.btn:hover {
    color: #35e6e6;
    border-color: aqua;
}
.block1 {
    background-image: url("../images/pic01.jpg");
    background-size: cover;
    flex-basis: 40%;
}
.block2 {
    background-image: url("../images/pic02.jpg");
    background-size: cover;
    flex-basis: 60%;
}
.block3 {
    background-image: url("../images/pic03.jpg");
    background-size: cover;
    flex-basis: 60%;
}
.block4 {
    background-image: url("../images/pic04.jpg");
    background-size: cover;
    flex-basis: 40%;
}
.block5 {
    background-image: url("../images/pic05.jpg");
    background-size: cover;
    flex-basis: 40%;
}
.block6 {
    background-image: url("../images/pic06.jpg");
    background-size: cover;
    flex-basis: 60%;
}
h2::after {
    content: "";
    width: 100%;
    height: 2px;
    background: white;
    display: block;
    margin: 10px 0px -10px 0px;
}
.item::before {
   transition: opacity 0.5s ease;
    top: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.85;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.block1::before {
    background: aqua;
}
.block2::before {
    background: orange;
}
.block3::before {
    background: blue;
}
.block4::before {
    background: green;
}
.block5::before {
    background: yellow;
}
.block6::before {
    background: red;
}
.item:hover::before {
/*    opacity: 0;*/
    display: none;
}
/*
.block1::before {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: aqua;
    opacity: 0.85;
    transition: opacity 0.5s ease;
    z-index: 2;
}*/

@media screen and (min-width: 320px) and (max-width: 900px) {
	.intro .intro-block {
	    width: 100%;
	    color: red;
        padding-left: 15px;
    	padding-right: 15px;
	}
}

@media only screen and (max-width:550px){ 
 .item { 
flex-basis: 100%; 
} 
    .photo-text {
        top: 30px;
    }
}

 
@media only screen and (min-width:551px) and (max-width:700px){
.item { 
flex-basis: 50%; 
} 
}
/* секция после фотографий*/
.two {
    padding: 5em 5em;
    background-color: #242943;
}
.inner {
    background-color: #242943;
    padding: 0px 0px;
}  /*блок во второй секции*/
.caption {
    display: block;
    width: 20vw;
    margin-bottom: 30px;
} /*заголовок во второй секции*/

.inner  a {
    display: block;
    width: 130px;
}  /*кнопка во второй секции*/

/* третья секция*/
.three {
background-color: #242943;
display: flex;
}
.column-left {
    width: 60%;
    border-right: 1px solid white;
}
.column-right {
    width: 40%;
}
form .name-form {
    float: left;
    width: 50%;
}
form .email-form {
    float: left;
    width: 50%;
}
form .contact-form {
    width: 100%;
}
label {
    color: #ffffff;
    display: block;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.25em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}
input[type="text"] {
/*    background: rgba(212, 212, 255, 0.035);*/
    border: none;
/*    border-radius: 0;*/
/*    color: inherit;*/
    display: block;
   / outline: 0;
    padding: 0 1em;
/*    text-decoration: none;*/
    width: 100%;
}