* {
	box-sizing: border-box;
}
ul {
	float: left;
	margin: 0;
	padding: 0;
}
.menu {
	float: left;
}
.level-1 > .menu__item {
	display: block;
	float: left;
}
.menu__item > a {
	display: block;
	padding: 10px 20px;
}
.navbar {
	background: pink;
}
.level-2,
.level-3 {
	display: none;
	position: absolute;
	list-style: none;
	background: yellow;
	margin: 0;
	padding: 0;
}

.menu__item:hover {
	background: #bada55;
}
.menu__item:hover > .level-2 {
	display: block;
}
.level-2 .menu__item:hover > .level-3 {
	display: block;
}
.level-3 {
	left: 100%;
	top: 0;
}
.menu__item {
	position: relative;
}
